*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial,sans-serif;
}

body{
  background:#050505;
  color:white;
}

.navbar{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:18px;
  background:#000;
  border-bottom:2px solid #00d084;
}

.navbar h1{
  color:#00ff99;
}

.nav-buttons a{
  text-decoration:none;
  padding:10px 16px;
  margin-left:8px;
  border-radius:20px;
  font-weight:bold;
}

.signup-btn{
  background:#00d084;
  color:#000;
}

.login-btn{
  border:2px solid #00d084;
  color:#00ff99;
}

.hero{
  text-align:center;
  padding:80px 20px;
  background:linear-gradient(#000,#032b20);
}

.hero h2{
  font-size:36px;
  color:#00ff99;
}

.hero p{
  margin:20px 0;
  color:#cfcfcf;
}

.start-btn{
  display:inline-block;
  padding:14px 28px;
  background:#00d084;
  color:#000;
  text-decoration:none;
  border-radius:30px;
  font-weight:bold;
}

.ticker{
  background:#00d084;
  color:#000;
  padding:10px;
  font-weight:bold;
}

.trust-center{
  padding:40px 20px;
  text-align:center;
}

.stats{
  display:grid;
  grid-template-columns:repeat(2,1fr);
  gap:15px;
  margin-top:20px;
}

.stats div{
  background:#111;
  border:1px solid #00d084;
  border-radius:15px;
  padding:20px;
}

.stats h3{
  color:#00ff99;
  font-size:28px;
}

.services{
  padding:40px 20px;
}

.services h2{
  text-align:center;
  color:#00ff99;
  margin-bottom:20px;
}

.service-card{
  background:#111;
  border-left:5px solid #00d084;
  margin:15px 0;
  padding:18px;
  border-radius:15px;
}

footer{
  text-align:center;
  padding:20px;
  border-top:1px solid #00d084;
}
.form-container{
  max-width:360px;
  margin:80px auto;
  padding:25px;
  background:#111;
  border:2px solid #00d084;
  border-radius:20px;
}

.form-container input{
  width:100%;
  padding:14px;
  margin:10px 0;
  border-radius:10px;
}

.start-btn{
  width:100%;
}
